*{
    background-color: black;
    scroll-behavior: smooth;
}
.navbar{
    position: sticky;
    background-color: black;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.navbar_items{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:75px;
}
.navbar_links{
    position: relative;
    text-decoration: none;
    color: rgb(224, 224, 224);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.35s ease;
}
.navbar_links::after{
    position: absolute;
    content: '';
    background-color: orange;
    width: 0;
    top: 100%;
    left: 0;
    height: 2px;
    transition: all 0.35s ease;
}
.navbar_links.active::after,
.navbar_links:hover::after{
    width: 130%;
}
.navbar_links.active,
.navbar_links:hover{
    color: orange;
}
.hero_items{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 150px;
    height: 90vh;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}
.hero_content{
    color: white;
}
.hero_content h3{
    color: rgb(200, 200, 200);
    font-size: 1.5rem;
}
.hero_content h1{
    font-size: 5rem;
    font-family:'montserrat', sans-serif;
    color: orange;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: fadein 1s ease-in forwards;
    @media (max-width: 768px){
        font-size: 4rem;
    }
}
@keyframes fadein{
    to{
        opacity: 1;
    }
}
.hero_content h2{
    font-size: 2rem;
    font-family:cursive;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}
.hero_content button{
    margin: 50px 0;
    background-color: transparent;
    border: 2px solid orange;
    font-weight: lighter;
    font-size: 2rem;
    padding: 15px 55px;
    border-radius: 20px;
}
.hero_content button a{
    color: white;
    text-decoration: none;
    transition: all 0.35s ease;
}
.hero_content button a:hover{
    color: orange;
}
.hero_items{
    background: linear-gradient(to right, black 70%, orange 30%);
    @media (max-width: 768px){
        background: transparent;
    }
}
.hero_items img{
    border-radius: 40%;
    margin: 0;
    background-color: transparent;
    @media (max-width:768px){
        display: none;
    }
}
#about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    height: 100vh;
    @media (max-width:768px){
        display: flex;
        flex-direction: column;
        margin: 0px 0px 100px 0;
    }
}
.about_content{
    color: white;
}
.img_border{
    position: absolute;
    padding: 250px 250px;
    transform: translate(-10%, -90%);
    border-bottom: 10px solid orange;
    border-left: 10px solid orange;
    background-color: transparent;
    @media (max-width:768px){
        padding: 200px 200px;
    }
}
.about_content h1{
    text-align: center;
    font-size: 3rem;
    color: orange;
}
.about_content p{
    width: 50rem;
    font-size: 1.5rem;
    color: rgb(165, 165, 165);
    font-weight: lighter;
    padding: 5px 5px;
    @media (max-width:768px){
        width: 30rem;
        text-align: center;

    }
}
.about_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    @media (max-width:768px){
        gap:20px;
    }
}
.about_button button{
    margin: 50px 0;
    background-color: transparent;
    border: 2px solid orange;
    font-weight: lighter;
    font-size: 2rem;
    padding: 15px 55px;
    border-radius: 20px;
}
.about_button button a{
    color: white;
    text-decoration: none;
    transition: all 0.35s ease;
}
.about_button button a:hover{
    color: orange;
}
#services{
    margin: 0px 0px 200px 0px;
    @media (max-width:768px){
        margin: 370px 0px;
    }
}
.flex_wraper{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    align-items: center;
}
#services h1:nth-child(1){
    color: white;
    font-size: 3.5rem;
    border-bottom:4px solid orange;
    width: 15%;
    transform: translateX(150%);
}
.services{
    margin: 20px 10px;
    background: linear-gradient(to bottom right, rgba(0, 217, 255, 0.55) 0%, rgb(0, 229, 255) 80%);
    border-radius: 20px;
    color: white;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    font-family: sans-serif;
    font-weight: lighter;
}
.services:nth-child(2){
    background: linear-gradient(to bottom right, rgba(255, 166, 0, 0.55) 0%, rgb(255, 230, 0) 80%);
}
.services:nth-child(3){
    background: linear-gradient(to bottom right, rgba(55, 255, 0, 0.55) 0%, rgb(0, 255, 21) 80%);
}
.services:nth-child(4){
    background: linear-gradient(to bottom right, rgba(0, 51, 255, 0.55) 0%, rgb(0, 0, 255) 80%);
}
.services h1, i{
    font-size: 3rem;
    background-color: transparent;
    margin: 10px 0;
}
.services h2{
    font-size: 1.3rem;
    background-color: transparent;
    width: 80%;
}
#footer{
    background-color: rgb(69, 69, 69);
    padding: 5px 75px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width:768px){
        display: flex;
        flex-direction: column;
        margin: 50px 0px;
    }
}
#footer *{
    color: rgb(180, 180, 180);
    background-color: rgb(69, 69, 69);
}
.icons{
    display: flex;
    font-family: cursive;
}
.icons i{
    font-size: 7rem;
}
.icons h1{
    font-size: 3rem;
}
.footer_nav a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 55px 0px;
}
.footer_nav a:hover{
    color: white;
}
.get_in{
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
    font-size: 1rem;
}
.get_in p{
    display: flex;
    align-items: center;
    gap: 15px;
}
.get_in i{
    font-size: 2rem;
}
.social_media{
    @media (max-width:768px){
        text-align: center;
    }
}
.social_media a:hover{
    color: white;
}